# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
.ipynb_checkpoints
.local
*.zip
.cache
.ipython
python_metadata
.config
.jupyter
venv
__pycache__
.idea

projects/
!projects_example/**/*.zip
data_uploads/

.env.local
nul
staged-humming-milner.md
